/* PRODUCTS */

const productsData = {

netflix:[
{ name:"1 MONTH NETFLIX ACCOUNT", price:20, image:"images/netflix.png", bestseller:true }
],

nordvpn:[
{ name:"NORD VPN 1 MONTH ACCOUNT", price:30, image:"images/nord-vpn.png" },
{ name:"NORD VPN 1 YEAR ACCOUNT", price:70, image:"images/nord-vpn.png" }
],

piavpn:[
{ name:"PIA VPN 1 MONTH ACCOUNT", price:40, image:"images/pia-vpn.png" }
],

textvoice:[
{ name:"TEXTNOW ACCOUNT", price:30, image:"images/textnow.png" }
],

data:[
{ name:"1GB MTN DATA", price:5, image:"images/data-bundle.png" },
{ name:"5GB MTN DATA", price:24, image:"images/data-bundle.png", bestseller:true }
]

};


/* DISPLAY PRODUCTS */

const productsDiv = document.getElementById("products");

function addProductCard(product){

const card = document.createElement("div");

card.classList.add("card");

card.innerHTML = `

${product.bestseller ? '<div class="badge">BEST SELLER</div>' : ''}

<img src="${product.image}">

<h3>${product.name}</h3>

<div class="price">GH₵${product.price}</div>

<button class="btn buy" onclick="addToCart('${product.name}',${product.price})">Add to Cart</button>

<button class="btn buy" style="background:#ff9900" onclick="payWithPaystack('${product.name}',${product.price})">Buy Now</button>

`;

productsDiv.appendChild(card);

}


function showAllProducts(){

productsDiv.innerHTML="";

for(let category in productsData){

productsData[category].forEach(addProductCard);

}

}

window.onload = showAllProducts;


/* CART */

function openCart(){

document.getElementById("cartPanel").classList.add("show");

loadCart();

}

function closeCart(){

document.getElementById("cartPanel").classList.remove("show");

}


function addToCart(name,price){

let cart = JSON.parse(localStorage.getItem("cart")) || [];

cart.push({name,price});

localStorage.setItem("cart",JSON.stringify(cart));

alert(name + " added to cart");

}


function loadCart(){

let cart = JSON.parse(localStorage.getItem("cart")) || [];

let cartItems = document.getElementById("cartItems");

let total = 0;

cartItems.innerHTML="";

cart.forEach((item,index)=>{

total += item.price;

cartItems.innerHTML += `
<div class="cart-item">
<span>${item.name}</span>
<span>GH₵${item.price}</span>
<button class="remove-btn" onclick="removeItem(${index})">X</button>
</div>
`;

});

document.getElementById("cartTotal").innerText = total;

}


function removeItem(index){

let cart = JSON.parse(localStorage.getItem("cart")) || [];

cart.splice(index,1);

localStorage.setItem("cart",JSON.stringify(cart));

loadCart();

}


/* PAYSTACK */

function payWithPaystack(productName,amount){

let email = prompt("Enter your email");

if(!email) return;

let handler = PaystackPop.setup({

key:'pk_live_76e7df83f71c725b7e10d514b3c935324a97761e',

email:email,

amount:amount*100,

currency:"GHS",

callback:function(){

alert(productName+" purchased successfully");

},

onClose:function(){

alert("Payment cancelled");

}

});

handler.openIframe();

}
